{% extends 'todo/base.html' %}

{% block title %}
todo
{% endblock %}

{% block content %}
{% csrf_token %}

<div id="alertConcluir" class="alert alert-success fade show p-2 mb-2" role="alert">
  Tarefa concluida.
</div>
<div id="alertEditar" class="alert alert-success fade show p-2 mb-2" role="alert">
  Tarefa editada.
</div>
<div id="alertDeleta" class="alert alert-success fade show p-2 mb-2" role="alert">
  Tarefa excluida.
</div>

<table class="table" id="lista-todos">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Titulo</th>
      <th scope="col">Data criação</th>
      <th scope="col">Data entrega</th>
      <th scope="col">Data conclusão</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="modalNovoTodo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalNovoTodoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalNovoTodoLabel">Nova tarefa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form onsubmit="newTodo(event)" id="form-nova-tarefa">
          <div class="mb-3">
            <label class="form-label">Titulo</label>
            <input type="text" name="titulo" form="form-nova-tarefa" required>
          </div>
          <div class="md-3">
            <div><label class="form-label">Descrição</label></div>
            <textarea name="descricao" style="width: 100%;" rows="5" required></textarea>
          </div>
          <div class="md-3">
            <label class="form-label">Data de entrega:</label>
            <input type="date" name="data_entrega" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" form="form-nova-tarefa">Criar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalTodoDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalTodoDeleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalTodoDeleteLabel">Excluir tarefa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <span>Titulo:</span>
          <span id="titulo"></span>
        </div>
        <div>
          <div>Descrição:</div>
          <span id="descricao"></span>
        </div>
      </div>
      <div class="modal-footer">
        <button id='btn-delete-todo' type="button" class="btn btn-danger">Excluir</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalTodoConcluir" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalTodoConcluirLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalTodoConcluirLabel">Concluir tarefa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <span>Titulo:</span>
          <span id="titulo"></span>
        </div>
        <div>
          <div>Descrição:</div>
          <span id="descricao"></span>
        </div>
        <div>
          <form id="form-modal-concluir">
            <label> Data conclusão:</label>
            <input type="date" id="data-conclusao" required>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button id='btn-concluir-todo' type="submit" class="btn btn-success"
          form="form-modal-concluir">Concluir</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalTodoEditar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalTodoEditarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalTodoEditarLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id='form-modal-editar'>
          <div class="mb-3">
            <label for="titulo" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="titulo">
          </div>
          <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea class="form-control" id="descricao" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label for="data_entrega" class="form-label">Data da entrega</label>
            <input type="date" class="form-control" id="data_entrega">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id='btn-editar-todo' type="submit" class="btn btn-secondary" form="form-modal-editar">Salvar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}