
* {
    box-sizing: border-box;
}


.header {
    height: 50px;
    padding: 5px 12px;

}
.navbar {
    background-color: #A9A9A9;

}
.navbar-toggler:focus {
    box-shadow:none;
}

.main {
    padding: 0px 12px;
    height: calc(100vh - 170px);
    overflow-y: auto;
}

.alert {
    min-width: 200px;
    position:fixed;
    top: 56px;
    right: 10px;
    display: none;
    transition: opacity 0.5s ease-out;
}

.logout {
    margin-left: auto;
}

.logout i {
    font-size: 25px;
}